# Volatility local artifacts
volatility3/__pycache__/
volatility3/plugins/__pycache__/
volatility3/framework/__pycache__/
ikarma/core/__pycache__/
ikarma/__pycache__/
*.pyc

# Memory dumps
*.raw
*.mem
*.dmp
*.zip
*.7z
*.bin

# iKARMA logs/exports
exports/
*.json
*.csv
*.html
*.pdf
*.docx

# Ignore virtual environments
.venv/
venv/
env/