# Ignore python cache files
__pycache__/
*.pyc

# Memory dumps
*.raw
*.mem
*.dmp
*.zip
*.7z
*.bin

# iKARMA logs/exports
exports/
*.json
*.csv
*.html
*.pdf
*.docx

# Ignore virtual environments
.venv/
venv/
env/